@charset "UTF-8";


#wrap #contents2 { /* 가로 2단 모든페이지 */
    padding: 20px 0px;
}

#wrap #contents2 #aside { /* 가로 2단 모든페이지 */
    float: left;
    width: 190px;
    margin-left: 20px;
}

#wrap #contents2 #main { /* 가로 2단 모든페이지 */
    float: left;
    width: 790px;
}





/* aside */
#aside h2 {
    width: 100%;    
    height: 60px;
    background-color: #dddddd;

    font-size: 20px;
    font-weight: bold;

    text-align: center;
    line-height: 60px; /* 한줄일때만 사용 가능 가운데로 */
}

#aside ul>li {
    margin-top: 5px;
    border: 1px solid #a6a6a6;
    font-size: 15px;

    padding: 8px 0px 8px 15px;
}


/* main */
#main #top {
    border-bottom: 1px solid #dddddd;
}

#main h3 {
    float: left;
    font-size: 18px;
    font-weight: bold;
    
}

#main > #top > ol {
    float: right;
    padding: 15px 0px;
    
}

#main > #top > ol>li {
    float: left;

    font-size: 12px;
    
    
}

#main > #top > ol>li::after {
    content: ">";
    margin: 5px;
}

#main #top > ol>:last-child::after {
    content: "";
    margin: 5px;
}

/* main 검색 */

#main .board-search {
    float: right;
    margin: 15px 2px 10px 0px;
}



/* main 테이블 */


#main .board-table {
    float: right;
}

#main .board-table table {
    width: 770px;
    /*margin: 20px 50px;*/
    border-collapse: collapse;
    
}

#main .board-table > table > thead > tr {

    border-top: 3px solid dimgrey;
    border-bottom: 3px solid dimgrey;

    text-align: center;
    font-size: 20px;

}


#main .board-table > table > tbody > tr {

    border-top: 1px solid #b4b4b4;
    border-bottom: 1px solid #b4b4b4;

    text-align: center;
    font-size: 17px;

}

#main .board-table > table > tbody > tr:last-child {

    border-bottom: 3px solid dimgrey;

}




/* main 페이지 넘기기 */
#main #page-num {
    float: left;
    
}

#main #page-num > ol {
    padding-left: 230px;
}

#main #page-num > ol > li {
    float: left;
    padding: 10px;
    font-size: 15px;
}



/* main 글쓰기 버튼 */

#main .board-btn-write {
    float: right;
    margin: 10px 20px;
}

#main .board-btn-write button {
    float: right;

    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
}











