@charset "UTF-8";

body {
    background-color: #808080;
    font-family: "맑은 고딕";
    font-size: 12px;
    padding: 10px;
}

/* ########    content    ############# */

.content {
    width: 600px;
    background-color: #ffffff;
    
}

.content h3 {
    font-size: 18px;
    font-weight: bold;
}

.content ol {
    padding: 10px 0px;
}

.content ol>li{
    float: left;
}

.content ol>li::after{
    content: ">";
}

.content ol>li:last-child::after {
    content: "";
}

/* ########    content 뽐    ############# */

.content .form-group {
    margin: 0px 0px 10px 0px;
    border-bottom: 1px solid lightgray;
    padding: 5px;
}

.content .form-group .form-txt {
    display: inline-block ;
    width: 200px;
    text-align: center;
    font-size: 12px;
    vertical-align: top;
}

/* 아이디입력 */
.content .form-group #user-id {
    width: 150px;
}

/* 패스워드입력 */
.content .form-group #user-pw {
    width: 150px;
}

/* 이름입력 */
.content .form-group #user-name {
    width: 150px;
}

/* 주소입력 */
.content .form-group #user-address {
    width: 40px;
}

/* 주소찾기 */

/* 상세주소입력 */
.content .form-group #user-address-detail {
    width: 150px;
}

/* 이동통신사 선택 */
.content .form-group #sel-board {
    width: 200px;
}

/* 나이 혈액형 라디오버튼 */
.content .form-group input[type="radio"]  input[name="blood-type"] {
    margin-right: 10px;
    vertical-align: middle;
    width: 13px;
    height: 13px;
    background-color: #ff0000;
} 

.content > .form-group >  label.rdo-label {
    font-family: "맑은 고딕";
    font-size: 15px;

}

/* 취미 체크박스 */
.content .form-group input[type="checkbox"]{ 
    margin-right: 10px;
    vertical-align: middle;
    background-color: #ff0000;
}

/* 자기소개 */
.content .form-group #selfintroduce {
    width: 200px;
    height: 50px;
    font-family: "맑은 고딕";
    font-size: 15px;
}

/* ########   button     ############# */

/* 버튼영역 */
.content .btn-area {
    
    padding: 10px 0px;
    text-align: center;
}


/* 버튼 */
.content .btn-area button {
    width: 120px;
    font-family: "맑은 고딕";
    font-size: 15px;
}
#add2{
    width: 200px;
    margin-left: 203px;
}