<!DOCTYPE html>


<html lang="ko">


    <head>
        <meta charset="UTF-8">
        <title>게시판</title>

        <link rel="stylesheet" href="../../assets/css/reset.css">
        <link rel="stylesheet" href="../../assets/css/mysite.css">
        <link rel="stylesheet" href="../../assets/css/board.css">


    </head>


    <body>

        <div id="wrap">
            <div id="header" class="clearfix">

                <h1>MySite</h1>

                <ul class="clearfix">
                    <li>
                        <a href="#">로그인</a></li>
                    <li><a href="#">회원가입</a></li>
                </ul>

            </div>
    
            <!-- 네비(상단메뉴 GNB) -->
            <div id="nav">
                <ul class="clearfix">
                    <li>입사지원서</li>
                    <li>게시판</li>
                    <li>갤러리</li>
                    <li>방명록</li>
                </ul>

            </div>
            <!-- //네비(상단메뉴 GNB) -->


            <!-- 컨텐츠 -->
            <div id="contents2" class="clearfix">

                <!-- 컨텐츠 - aside -->
                <div id="aside">

                    <h2>게시판</h2>
                    
                    <ul>
                        <li>일반게시판</li>
                        <li>댓글게시판</li>
                    </ul>

                </div>

                <!-- 컨텐츠 - main -->
                <div id="main" class="clearfix">

                    <!-- main - 게시판 -->

                    <div id="top" class="clearfix">                  
                        <h3>게시판</h3>

                        <ol>
                            <li>홈</li>
                            <li>게시판</li>
                            <li>일반게시판</li>
                        </ol>

                    </div>

                    <div class="board-serch">
                        <input type="text" name="" value="">
                        <button>검색</button>
                    </div>


                    <div class="board-table">

                        <table border="1">

                            <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>제목</th>
                                    <th>글쓴이</th>
                                    <th>조회수</th>
                                    <th>작성일</th>
                                    <th>관리</th>
                                </tr>
                            </thead>
    
                            <tbody>
                                <tr>
                                    <td>123</td>
                                    <td>게시판 게시글입니다</td>
                                    <td>정우성</td>
                                    <td>1232</td>
                                    <td>2024-08-09</td>
                                    <td>[삭제]</td>
                                </tr>
                                <tr>
                                    <td>123</td>
                                    <td>게시판 게시글입니다</td>
                                    <td>정우성</td>
                                    <td>1232</td>
                                    <td>2024-08-09</td>
                                    <td>[삭제]</td>
                                </tr>
                                <tr>
                                    <td>123</td>
                                    <td>게시판 게시글입니다</td>
                                    <td>정우성</td>
                                    <td>1232</td>
                                    <td>2024-08-09</td>
                                    <td>[삭제]</td>
                                </tr>
                                <tr>
                                    <td>123</td>
                                    <td>게시판 게시글입니다</td>
                                    <td>정우성</td>
                                    <td>1232</td>
                                    <td>2024-08-09</td>
                                    <td>[삭제]</td>
                                </tr>
                                <tr>
                                    <td>123</td>
                                    <td>게시판 게시글입니다</td>
                                    <td>정우성</td>
                                    <td>1232</td>
                                    <td>2024-08-09</td>
                                    <td>[삭제]</td>
                                </tr>
                            </tbody>
    
                        </table>

                    </div>


                    <div>
                        <!-- 밑에 숫자<a> -->
                        <a href="#"></a>

                        <ol>
                            <li>
                                <a href="#"><</a>
                            </li>
                            <li>
                                <a href="#">1</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#"></a>
                            </li>
                            <li>

                            </li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ol>


                    </div>


                    <div class="board-btn-write">
                        <button>글쓰기</button>
                    </div>

                </div>


            </div class="clearfix">
            <!-- //컨텐츠 -->
 

            <!-- 푸터 -->
            <div id="footer">
                <p>Copyright &#169; 2024 황일영. All right reserved</p>
            </div>
            <!-- //푸터 -->

        </div>
        

    


    </body>


</html>